body {
	font-family: 'Raleway', sans-serif;
	color: #474747;
}

.portfolio-tiles {
	/*padding: 15px;*/
}

.header-name {
	font-size: 80px;
	font-weight: 100;
}

.header-subtitle {
	font-size: 28px;
	font-weight: 500;
}

.portfolio-header {
	color: #BCBBBB;
	font-weight: 500;
	font-size: 35px;
	margin-top: 35px;
}

.portfolio-tile-name {
	font-weight: 500;
	font-size: 35px
}

.portfolio-tile-url {
	font-weight: 500;
	font-size: 20px;
}